# See http://help.github.com/ignore-files/ for more about ignoring files.

## General
.metadata/
.recommenders/
RemoteSystemsTempFiles/
~$employees.xlsx

## Services
services/target/
!services/.mvn/wrapper/maven-wrapper.jar
services/node_modules/
services/npm-debug.log/

# STS
services/.apt_generated
services/.classpath
services/.factorypath
services/.project
services/.settings
services/.springBeans

# IntelliJ IDEA
services/.idea
services/*.iws
services/*.iml
services/*.ipr

# NetBeans
services/nbproject/private/
services/build/
services/nbbuild/
services/dist/
services/nbdist/
services/.nb-gradle/



## Web App
webapp/target

# compiled output
webapp/dist
webapp/tmp
webapp/out-tsc

# dependencies
webapp/node_modules

# IDEs and editors
webapp/.idea
webapp/.project
webapp/.classpath
webapp/.c9/
webapp/*.launch
webapp/.settings/
webapp/*.sublime-workspace

# IDE - VSCode
webapp/.vscode/*
!webapp/.vscode/settings.json
!webapp/.vscode/tasks.json
!webapp/.vscode/launch.json
!webapp/.vscode/extensions.json

# misc
webapp/.sass-cache
webapp/connect.lock
webapp/coverage
webapp/libpeerconnection.log
webapp/npm-debug.log
webapp/testem.log
webapp/typings

# e2e
webapp/e2e/*.js
webapp/e2e/*.map

# System Files
webapp/.DS_Store
webapp/Thumbs.db


