<form #addForm="ngForm" (ngSubmit)="save(addForm.value)">
  <h1 md-dialog-title>{{data.title}}</h1>
  <div md-dialog-content>
    {{data.subtitle}}
    <p>
      <md-form-field class="full-width">
        <input name="firstName" mdInput [(ngModel)]="data.employee.firstName" required placeholder="First name">
      </md-form-field>
      <md-form-field class="full-width">
          <input name="lastName" mdInput [(ngModel)]="data.employee.lastName"  required placeholder="Last name">
      </md-form-field>
    </p>
    <p>
      <md-form-field class="full-width">
        <input name="emailAddress" mdInput [(ngModel)]="data.employee.emailAddress"  required email placeholder="Email Address">
      </md-form-field>
      <span class="md-radio">
        <md-radio-group name="gender" required selected [(ngModel)]="data.employee.gender" class="radio-group">
          <md-radio-button value="male" name="genderMale">Male</md-radio-button>
          <md-radio-button value="female" name="genderFemale">Female</md-radio-button>
        </md-radio-group>
      </span>
    </p>
    <input name="id" type="hidden"[(ngModel)]="data.employee.id">
  </div>
  <div md-dialog-actions>
    <button md-button [disabled]="!addForm.form.valid" tabindex="2">Save</button>
  </div>
</form>

